//  Design colors
 
    // Primary colors
    $moderate-blue: hsl(238, 40%, 52%);
    $moderate-blue-hover: hsla(238, 40%, 52%, 0.692);
    $soft-red: hsl(358, 79%, 66%);
    $soft-red-hover: hsla(358, 79%, 66%, 0.671);
    $light-grayish-blue: hsla(240, 58%, 85%, 0.342);
    $pale-red: hsl(357, 100%, 86%);


    // Neutral colors
    $dark-blue: hsl(212, 24%, 26%);
    $grayish-blue: hsl(211, 10%, 45%);
    $light-gray: hsl(223, 19%, 93%);
    $very-light-gray: hsl(228, 33%, 97%);
    $white: hsl(0, 0%, 100%);

// Typography

    // Body
    $body-font-size-desktop: 16px;

    // Font
    $body-font-family: 'Rubik', sans-serif;


// Comment variables

    $comment-width: 90%;
    $comment-height: 20%;
    
    $replied-comment-width: 70%;
    $replied-comment-height: 20%;

    $comment-head-height: 30%;
    $username-width: 100px;
