// Imports

  // Style variables
  @import './Styles/_colors.scss' ;
  
  //Font  
  @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

  



// Body styles and reset

  *{
    padding: 0;
    margin: 0;
  
  }

  body{
    background-color:$light-grayish-blue;

    font-family: $body-font-family;
    font-size: $body-font-size-desktop;
  }

// App styles
  .App {
    width: 70vw;
    height: 100vh;

    min-width: 800px;
    min-height: 500px;

    margin: auto;
    overflow-y: auto;

    z-index: 10;

    
    // background-color: green;


    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }


// Comments basic styles

  .comment-container{
    width: $comment-width;
    height: $comment-height;

    min-height: 150px;
    min-width: 700px;

    background-color: $white;
    border-radius: 1rem;

    position: relative;
    margin: 1em 1em 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    overflow: hidden;
    
    // border: 5px solid black;
  }

  // Comments window
    .comments{
      width: 100%;
      height: 80%;
      margin-top: 2%;

      overflow: auto;
      // background-color: aqua;
    }

    // Input container
      .inputContainer{
        width: 99%;
        height: 12%;

        margin: auto;
        background-color: white;
        
        border-radius: 1em;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
      }

      .inputContainer textarea {
        width: 70%;
        height: 40%;

        resize: none;

        // background-color: blue;

        border: 1px solid #00000033;

        padding: 1em;
        border-radius: 1em;
      }

      .inputContainer button {
        width: 10%;
        height: 40%;

        border-radius: 1em;
        border: none;
        font-weight: 600;
        font-size: 1.1em;

        cursor: pointer;

        margin-top: 1em;
        align-self: flex-start;
      
        background-color: transparent;
        color: $moderate-blue;        
      }

      .inputContainer button:hover{
        color: $moderate-blue-hover;
      }

  // comment body
    .commentBody{
      display: flex;
      flex-direction: column;
    }

    // Comment reply styles
    .reply{
      width: $replied-comment-width;
      height: $replied-comment-height;
    }


  // Comment head styles

    .commentHead{
      padding: 0 10px;

      height: $comment-head-height;

      // background-color: aquamarine;

      justify-self: flex-start;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      overflow:hidden;
    }

    .userName{
      margin-right: 1em;
      font-weight: 500;
    }

    .timePosted{
      color: $grayish-blue;
      font-weight: 400;
    }
    
    .userName, .timePosted{
      font-size: 1rem;
    }


    .commentHead-userInfo{
      display: flex;
      flex-direction: row;
      align-items: center; 
    }

    // Comment head button styles

    .buttons{
      width: 45%;
      
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }

      .replyButton, .deleteButton, .editButton{
        background-color: transparent;
        border: none;
    
        cursor: pointer;
    
        font-size: 1em;
        font-weight: 700;
      }

      .replyButton, .editButton{
        color: $moderate-blue;
      }
      
      .replyButton:hover, .editButton:hover{
        color: $moderate-blue-hover;
      }
      
      .deleteButton{
        color: $soft-red;
      }

      .deleteButton:hover{
        color: $soft-red-hover;
      }
  
    // Vote styles

      .commentVote{
        height: 90%;
        width: 5%;
        min-width: 30px;

    
    
        background-color:  $light-grayish-blue;
        
        font-size: 1em;
    
        border-radius: 0.5em;
        margin-left: 1rem;
        align-self: center;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
      }
    
      .commentVote > button{
        background-color: transparent;
    
        width: 100%;
        border: none;
        margin: 1rem 0;
    
        cursor: pointer;
      }

    
      .commentVote p{
        color: $moderate-blue;
        font-weight: 700;
      }

  // Comment head and comment content common styles 

    .commentHead, .commentContent{
          width: 95%;
          height: 100%;
    }

  // Comment content styles
  
  .commentContent{
    margin: auto 0;
    padding:0 10px;
    justify-self: center;
  }

  

@media only screen and (max-width: 700px){
  body{
    font-size: 12px;
  }
  .App{
    min-width: 300px;
    width: 99vw;
  }
  .comments{
    height: 85%;
    margin-top: 5%;
  }

  .userName, .timePosted{
    font-size: 0.95em;
  }

  .userName{
    font-weight: bolder;
  }

  .reply {
    font-size: 0.9em;
    width: 84%;
    height: 20%;
  }

  .comment-container{
    min-width: 100px;
  }

  .replyButton img, .deleteButton img, .editButton img{
    height: 20%;
  }



  .commentHead, .commentContent {
    width: 95%;
    height: 40%;
  }

  .commentContent{
    margin: 0 0;
  }

  .inputContainer{
    height: 7%;
  }
  
  .inputContainer img{
    height: 70%;
  }
  .inputContainer textarea{
    height: 70%;
    padding: 0 5px;
    overflow: hidden;
    border-radius: 5px;
  }
}